
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body{
  
    margin: 10% 10%;
    padding: 5px;
    background-color: White: hsl(0, 0%, 100%);   
    font font-family: League Spartan;
}


.whole{
    border: 10px;
    background-image: url(images/bg-pattern-bottom-mobile.svg);
    margin: 10px;
    padding: 3px;
}

.introduction{

    display: flex;
    flex: content;
    color: blueviolet;
    text-align: left;
    justify-content: space-between;
    
}

    .marketing{
       width: 20%;

    }

    .proof{
        display: flex;
        align-items:start;
        flex-direction: column;
    }
    


.vistors{
    display: flex;
    gap: 15px;
    align-items: center;
    background-color:whitesmoke;
    margin: 10px;
    padding: 8px;
    border-radius:6px;
}


.report{

    margin: 10px;
    padding: 3px;
    background-color:whitesmoke;
    justify-content:center;
    
}


 .besttech{

    margin: 10px;
    padding: 3px;
    background-color:whitesmoke;
    justify-content: flex-end;
    
 }

.Colton{
    margin: 10px;
    padding: 15px;
    background-color: blueviolet;
    border-radius: 8px;
    margin-top: 80px;
}

 .first{
    display: flex;
    gap: 15px;
 }

.Irene{
    margin: 10px;
    padding: 15px;
    background-color:blueviolet;
    border-radius: 8px;
    margin-top: 100px;
    margin-bottom: -30px;
}

.second{
    display: flex;
    gap: 15px;
}

.anne{
    margin: 10px;
    padding: 15px;
    background-color: blueviolet;
    border-radius: 8px;
    margin-top: 120px;
    margin-bottom: -50px;
}

.third{
    display: flex;
    gap: 15px;
    
}



.profiles{

    display: flex;
    flex:content;
    flex-shrink: inherit;
    /*justify-content: space-around;
    justify-content:space-between;*/
    color:white;
    /* background-color: blueviolet; */
    width: 105%;
    margin-top: 40px;
    gap: 10px;

    /*border-radius: 5px;
    margin: 25%;
    padding: 3px;*/
}

